/* Dine styles her */
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
}

label,
input,
textarea,
select,
button {
  display: block;
}

article {
  padding-right: 2rem;
  border-right: 2px solid #fb28a8;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  padding: 1.5rem;
  background: #3a243f;
  border-radius: 8px;
}

.body {
  line-height: 1.4;
}

button {
  margin-top: 30px;
  color: #fb28a8;
  height: 40px;
}
